<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>


<body>

  <form method="POST" action="/login">
    <div class = "box">
      <label name="user">
        User Name
      </label>
      <input type="text" name="user" />
      <input type = "text" name = "id"  value= "<%=id%>" hidden>
    </div>

    <div class = "box">
      <label name="password">
        Password
      </label>
      <input type="password" name="password" />
    </div>
    <button type = "submit">Login</button>
  </form>
  
</body>

</html>